*,
*::before,
*::after{
    box-sizing: border-box;
}

:root {
    /* font */
    --ff-primary:'Lobster', sans-serif;
    --ff-secondary:'Architects Daughter', monospace;
    /* font weigth */
    --fw-reg: 300;
    --fw-bold: 900;
    /* colour */
    --clr-light: #fff;
    --clr-dark: black;
    --clr-accent: green;
    /* font size */
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25), 
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

    /* Media query */

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General styles */

/* header {
    color: white;
    background-image: url(/images/header.jpg);
    background-repeat: repeat, no-repeat;
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    font-family: 'Lobster', cursive;
}
#logo {
    margin-top: 70px;
    margin-left: 70px;
} */

html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    /* background-image: url("/images/header.jpg");
    background-repeat: no-repeat, repeat;
    background-color: #cccccc;   
    background-size: auto;
    background-attachment: fixed; */
}

section {
    padding: 5em 2em;
}

img{
    display: block;
    max-width: 100%;
}

strong {font-weight: var(--fw-bold)}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* Buttons */

.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}


/* Typography */

h1, 
h2, 
h3 {
    line-height: 1;
    margin: 0;
}

h1 {font-size: var(--fs-h1) }
h2 {font-size: var(--fs-h2) }
h3 {font-size: var(--fs-h3) }

.sectionTitle {
    margin-bottom: .25rem;
}
.sectionTitle--intro {
    font-weight: var(--fw-reg);
}

.sectionTitle--intro {
    display: block;
}

.sectionSubtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.sectionSubtitle--intro,
.sectionSubtitle--about {
    background: var(--clr-accent);
    padding:  .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

/* Header */

header{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.logo {
    max-width: 100px;
}

.navbar {
    position: fixed;
    background: var(--clr-light);
    color: var(--clr-dark);  
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100; 

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.navbarList {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navbarLink {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
    text-decoration: none;
}

.navbarLink:hover {
    color: var(--clr-accent);
}

.navToggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.navOpen .navbar {
    transform: translateX(0);
}

.navOpen .navToggle {
    position: fixed;
}

.navOpen .hamburger {
    transform: rotate(.625turn);
}

.navOpen .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.navOpen .hamburger::after {
    opacity: 0;
}

.hamburger {
    display: block;
    position: relative;
}
.hamburger,
.hamburger::before, 
.hamburger::after {
    background: var(--clr-dark);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before, 
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before {
    top: 6px;
}

.hamburger::after {
    bottom: 6px;
}

/* Intro section */

.intro {
    position: relative;
    /* right: 300px;
    top: 100px; */

}

.introImg {
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: "img title" "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .introImg {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }

    .sectionSubtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}

/* Experience */

.experience {
    background-color: var(--clr-light);
    background-image: url(/images/experience.png);
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-light);
}

.sectionTitleexperience {
    content: '';
    display: block;
    width: 3em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}

.sectionTitle {
    color: var(--clr-accent);
    position: relative;
}

.expBox {
    margin-bottom: 4em;
}

.box {
    max-width: 500px;
    margin: 0 auto;
}

@media (min-width: 800px) {
    .box {
        display: flex;
        max-width: 1000px;
        margin: 0 auto;
        margin-left: auto;
        margin-right: auto;
    }

    .box + .box {
        margin-left: 2em;
    }
}

/* About me */

.aboutMe {
    max-width: 1000px;
    margin: 0 auto;
}

.aboutMeImg {
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .aboutMe {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: "title img" "subtitle img" "text img";
        grid-column-gap: 2em;
    }

    .sectionTitle--about {
        grid-area: title;
    }

    .sectionSubtitle--about {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }

    .aboutMeImg {
        grid-area: img; 
        position: relative;
        z-index: 2; 
    }
}

/* Portfolio */

.myPortfolio {
    background-color: var(--clr-light);
    color: var(--clr-dark);
    text-align: center;
}

.sectionSubtitle--port {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

.boxHolder {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.box {
    background: var(--clr-accent);
    overflow: hidden;
}

.boxImage {
    transition: transform 750ms cubic-bezier(.5, 0, .5, 1),
    opacity 250ms linear;
}

.box:focus {
    position: relative;
    z-index: 2;
}

.boxImage:hover, .box:focus .boxImage {
    transform: scale(1.2);
    opacity: .75;
}

/* Footer */

.footer {
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footerLink {
    font-weight: var(--fw-bold);
}

.footerLink:hover, .socialListLink:hover {
    opacity: .7;
}

.footerLink:hover {
    text-decoration: underline;
}

.socialList {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0;
    padding: 0;
}

.socialListItem {
    margin: 0 .5em;
}

.socialListLink {
    padding: .5em;
}

.portfolioItemIndividual {
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
}

.portfolioItemIndividual p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

























/* 
    /* Main */

/* #buttonTop {
    position: fixed;
    bottom: 25px;
    right: 35px;
    z-index: 99;
    border: none;
    outline: none;
    background-color:grey;
    color: white;
    cursor: pointer;
    padding: 20px;
    border-radius: 15px;
    font-size: 18px;
    font-family: 'Lobster', cursive;
}
#buttonTop:hover {
    background-color: aqua;
}

    /*      Navigation      */
/* .navbar {
    display: block;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    width: 100%;
    font-family: 'Lobster', cursive;
    }
    .navbar ul {
        list-style: none;
        padding: 0;
        margin: 0;
        float: right;
        display: flex;    
    }
    .navbar a {
        text-align: center;
        padding: 14px 16px;
        color: white;
        font-size: 28px; 
        text-decoration: none;
        border-top: 2px solid white;
        border-bottom: 4px solid white;
    }

#webDev {
    margin-top: 100px;
    margin-left: 200px;
    font-size: 70px;
}
#skills {
    margin-left: 700px;
    margin-bottom: 300px;
    display: flex;
    border-top: 2px solid white;
}
#skillsH {
    margin-left: 700px;
}  */

    /* Portfolio */

/* #portfolio {
    margin-top: 20px;
    background-image: url(/images/project.jpg);
    background-repeat: repeat, no-repeat;
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    padding: 40px;
    font-family: 'Lobster', cursive;
}
.portBox {
    margin: 70px;
} */

    /* Experience */
/* #experience {
    color: white;
    background-image: url(/images/experience.png);
    background-repeat: repeat, no-repeat;
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    padding: 40px;
    font-family: 'Lobster', cursive;
}

span {
    padding: 10px;
    border: 2px solid white;
    border-radius: 30px 15px;
    display: inline-block;
    float: left;
    background-color:black;
    margin-left: 50px;
    cursor: pointer; 
}

div.expBox {
    overflow: hidden;
    background-color: aqua;
}

div.expBox .box {
    background-color: inherit;
    float: left;
    cursor: pointer;
}

div.expBox .box:hover{
    background-color: lightblue;
}

div.expBox .box.active {
    background-color: lightgrey;
} */

/* .boxContent {
    display: none;
    margin-top: 200px;
    background-color: blue;
} */


    /* About */
/* #about {
    color: white;
    background-image: url(/images/about.jpg);
    background-repeat: repeat, no-repeat;
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    font-size: 28px;
    text-align: center;
    font-family: 'Lobster', cursive;
} */

    /* Contact */

/* #contact {
    color: white;
    background-image: url(/images/contact.jpg);
    background-repeat: repeat, no-repeat;
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    font-family: 'Lobster', cursive;
} */




