*,
*::before,
*::after{
    box-sizing: border-box;
}

:root {
    /* font */
    --ff-primary:'Paytone One', sans-serif;
    --ff-secondary:'Architects Daughter', monospace;
    /* font weigth */
    --fw-reg: 300;
    --fw-bold: 900;
    /* colour */
    --clr-light: rgb(182, 179, 179);
    --clr-dark: rgb(37, 35, 35);
    --clr-accent: rgb(82, 3, 23);
    /* font size */
    --fs-h1: 1rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-h4: 0.75rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25), 
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

    /* Media query */

@media (min-width: 767px) {
    :root {
        --fs-h1: 3rem;
        --fs-h2: 2.5rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General styles */

/* header {
    color: white;
    background-image: url(/images/header.jpg);
    background-repeat: repeat, no-repeat;
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    font-family: 'Lobster', cursive;
}
#logo {
    margin-top: 70px;
    margin-left: 70px;
} */

html {
    scroll-behavior: smooth;
}

html, body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    height: 100%;
    width: 100%;
    padding: .5em;
    /* background-image: url("/images/header.jpg");
    background-repeat: no-repeat, repeat;
    background-color: #cccccc;   
    background-size: auto;
    background-attachment: fixed; */
}

section {
    padding: 3em 1em;
    min-height: 800px;
    width: 100%;
    left: 50%;
    right: 10%;
}

img{
    display: block;
    max-width: 100%;
}

strong {font-weight: var(--fw-bold)}

span {
    opacity: 0;
    transition: all 0.4 ease;
}

span.fade {
    opacity: 1;
}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* Buttons */

/* .btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
} */

#buttonTop {
    position: fixed;
    bottom: 25px;
    right: 35px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: var(--clr-accent);
    color: var(--clr-light);
    cursor: pointer;
    padding: 20px;
    border-radius: 15px;
    font-size: var(--fs-h3);
    font-family: 'Lobster', cursive;
}
#buttonTop:hover {
    background-color: var(--clr-accent);
}


/* Typography */

h1, 
h2, 
h3 {
    line-height: 1;
    margin: 0;
}

h1 {font-size: var(--fs-h1) }
h2 {font-size: var(--fs-h2) }
h3 {font-size: var(--fs-h3) }

.sectionTitle {
    margin-bottom: .25rem;
    box-sizing: border-box;
}

.sectionTitle--intro {
    display: block;
    font-weight: var(--fw-reg);
    top: 50%;
    box-shadow: var(--bs);
    padding: 1em;
    font-size: var(--fs-h1);
    color: var(--clr-dark);
    background: rgba(60, 60, 60, 0.7);
}

.sectionSubtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.sectionSubtitle--about {
    background: var(--clr-accent);
    padding:  .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

/* Navigation */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: var(--clr-accent);
    font-family: var(--ff-primary);
    opacity: .8;
}

.logo {
    color: var(--clr-light);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: var(--fs-h4);
}

.navbarList {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.navbarList li {
    list-style: none;
}

.navbarList a {
    color: var(--clr-light);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
    margin-left: 2em;
}

.navbarLink {
    color: var(--clr-light);
}

.burger {
    display: none;
    cursor: pointer;
}
.burger div {
    width: 25px;
    height: 3px;
    background-color: var(--clr-light);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
    .navbarList {
        width: 60%;
    }
}

@media screen and (max-width: 767px) {
    body {
        overflow-x: hidden;
    }

    .navbarList {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: var(--clr-accent);
        color: var(--clr-light);
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1000;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .navbarList li {
        opacity: 1;
    }
    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navbarListFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}


/* Intro section */

.intro {
    background-image: url(/images/intro.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    color: var(--clr-light);
}


@media (min-width: 767px) {
    .intro {
        background-size: none;
    }
    .sectionTitle--intro {
        font-size: 50px;
    }
} 

/* Experience */

.experience {
    background-color: var(--clr-light);
    background-image: url(/images/experience.png);
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-light);
}

.sectionTitleexperience {
    color: var(--clr-dark);
    text-align: center;
    margin: .25em;
}

.sectionTitle {
    color: var(--clr-accent);
    position: relative;
    text-align: center;
}

.sectionSubTitle--exp {
    text-align: center;
}

.expBox {
    margin-top: 4em;
    margin-bottom: 4em;
    display: grid;
    cursor: pointer;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.expBoxBox {
    max-width: auto;
    min-width: 330px; 
    margin: 0 auto;
    box-shadow: var(--bs);
    padding: 30px;
    border-radius: 1rem;
    background-color: var(--clr-accent);
    opacity: .8;
    height: 100%;
    grid-gap: 2rem;
    overflow: hidden;
}


@media (min-width: 767px) {
    .expBoxBox {
        /* display: flex; */
        max-width: 1000px;
        margin: 0 auto;
        margin-left: auto;
        margin-right: auto;
    }

    .expBoxBox + .expBoxBox {
        margin-left: 2em;
    }
}


div.expBox {
    overflow: hidden;
}

div.expBox .expBoxBox {
    background-color: var(--clr-accent);
    float: left;
    cursor: pointer;
}

div .expBox .expBoxBox:hover{
    background-color: var(--clr-accent);
}

div .expBox .expBoxBox.active {
    background-color: var(--clr-accent);
} 

.boxContent {
    display: none;
    margin-top: 5em;
    height: auto;
    box-shadow: var(--bs);
    border-radius: 1rem;
    background-color: var(--clr-dark);
    opacity: 0.8;
}

/* About me */

.aboutMe {

    margin: 0 auto;
    background-color: var(--clr-light);
    background-image: url(/images/about.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-light);
}

.aboutMeImg {
    box-shadow: var(--bs);
    top: 20%;
}

@media (min-width: 767px) {
    .aboutMe {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: "title img" "subtitle img" "text img";
        grid-column-gap: 2em;
    }

    .sectionTitle--about {
        grid-area: title;
    }

    .sectionSubtitle--about {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }

    .aboutMeImg {
        grid-area: img; 
        position: relative;
        z-index: 2; 
    }
}

/* Portfolio */

.myPortfolio {
    background-color: var(--clr-light);
    color: var(--clr-dark);
    text-align: center;
    height: auto;
}

.sectionSubtitle--port {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

.boxHolder {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.box {
    background: var(--clr-accent);
    overflow: hidden;
}

.boxImage {
    transition: transform 750ms cubic-bezier(.5, 0, .5, 1),
    opacity 250ms linear;
}

.box:focus {
    position: relative;
    z-index: 2;
}

.boxImage:hover, .box:focus .boxImage {
    transform: scale(1.2);
    opacity: .75;
}

/* Footer */

.footer {
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 1.5em 0;
    font-size: var(--fs-h3);
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footerLink {
    font-weight: var(--fw-bold);
}

.footerLink:hover, .socialListLink:hover {
    opacity: .7;
}

.footerLink:hover {
    text-decoration: underline;
}

.socialList {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 1em 0;
    padding: 0;
}

.socialListItem {
    margin: 0 .5em;
}

.socialListLink {
    padding: .5em;
    font-size: 50px;
}

.portfolioItemIndividual {
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
}

.portfolioItemIndividual p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

    /* Contact */

#contact {
    background-color: var(--clr-light);
    background-image: url(/images/contact.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-light);
    text-align: center;
    
}

.contactMain {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 5em;
}

.contactCont1 {
    max-width: 850px;
	background-color: var(--clr-dark);
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
    opacity: .8;
}

.contactCont1 h4 {
    padding: 1em;
}

.contactCont2 {
    max-width: 850px;
	display: grid;
	grid-template-columns: 2fr, 1fr;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: var(--clr-dark);
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
    opacity: .8;
}

.contactForm {
    margin: 2em;
}

.form-control {
    width: 100%;
}







